/* phones */
@media screen and (max-width: 767px) {
    #main {
        margin: 0;
        flex: 6;
        flex-direction: column;
    }
    #header {
        flex: 0.5;
    }
    #profile {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        border-left: none;
        padding-right: 0;
    }
    #terminal {
        text-align: center;
        font-size: 0.68em;
        /* space-x-[0.7em] cannot be directly translated to plain CSS. You might need to apply margin to child elements individually */
    }
    #left-dots {
        position: absolute;
        top: 65%;
    }
    #right-dots {
        top: 10%;
    }
    #sidebar {
        justify-content: flex-end;
    }
    #text {
        font-size: 1.25rem; /* Equivalent to Tailwind's text-xl */
    }
    #center {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sidebar {
        flex: 1;
    }
    #terminal {
        flex: 1;
    }
    #header {
        flex: 0.5;
    }
    #left-dots {
        position: absolute;
        top: 65%;
    }
    #text {
        font-size: 1.875rem; /* Equivalent to Tailwind's text-3xl */
    }
}