form.code {
    white-space: pre-wrap;
}
form.code::before {
    counter-reset: listing;
}
form.code code {
    counter-increment: listing;
    padding-left: 55px;
    text-indent: -55px;
}
form.code code::before {
    content: counter(listing);
    display: inline-block;
    width: 1em;
    text-align: right;
    margin-right: 25px;
    width: 30px;
    color: #858585;
}
