.nodeList {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.nodeList:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    background: #0080d1;
}

.nodeItem {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.node {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0080d1;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid white;
}

.text {
    display: block;
}
